@page "/"
<CustomHeadContent Title="MiniPaintHelper" Overview="Mini Paint Helper has been created as a side project to provide tools to aid when painting miniature models" Keywords="@(new []{"miniatures", "minis", "paint", "painting"})" />

<MudContainer>
    <div class="d-flex justify-center" style="margin-top: 2rem;">
        <img src="images/logo-high-res.png" style="height: 20rem;" alt="Mini Paint Helper Logo"/>
    </div>
    
    <MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true">
        Mini Paint Helper has been created as a side project to provide tools to aid when painting miniature models
    </MudText>
</MudContainer>

@code {
    
}