.file-drop-zone {
    display: flex;
    width: 100%;
    border: 3px dotted grey;
    align-items: center;
    margin-bottom: 2px;
    height: 3rem;
}
.hover {
    border-style: solid;
    background-color: grey;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 50%;
}
::deep input[type=file] {
    width: 100%;
    padding: 20px;
}
.error-message-container {
    color: red;
    text-align: center;
}